In [62]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [63]:
df = pd.read_csv('dataset/emails.csv')

In [64]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [66]:
df['Email No.'].value_counts()

Email No.
Email 5172    1
Email 1       1
Email 2       1
Email 3       1
Email 5156    1
             ..
Email 9       1
Email 8       1
Email 7       1
Email 6       1
Email 5       1
Name: count, Length: 5172, dtype: int64

In [67]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [68]:
df.shape

(5172, 3002)

In [69]:
X = df.drop(columns = ['Email No.', 'Prediction' ])

In [70]:
y = df['Prediction']

In [71]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)

In [72]:
X_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
2588,0,1,1,2,0,0,14,3,0,2,...,0,0,0,0,0,0,0,0,0,0
2532,2,0,2,1,1,0,13,0,0,3,...,0,0,0,0,0,0,0,0,1,0
4500,4,2,1,0,4,0,30,0,4,2,...,0,0,0,0,0,0,0,0,0,0
3597,43,19,1,8,7,7,216,1,3,52,...,0,0,0,0,1,0,4,0,3,0
2721,0,0,1,0,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,5,3,21,1,4,1,54,1,10,3,...,0,0,0,0,0,0,0,0,0,0
2126,0,1,1,0,0,0,3,0,0,3,...,0,0,0,0,0,0,0,0,0,0
3140,1,6,3,0,0,0,15,0,0,2,...,0,0,0,0,0,0,0,0,2,0
4582,17,5,4,4,4,2,91,2,1,15,...,0,0,0,0,0,0,0,0,0,0
856,19,12,5,6,3,3,86,14,1,18,...,0,0,0,0,0,0,0,0,0,0

In [73]:
Y_train

2588    0
2532    0
4500    0
3597    1
2721    1
       ..
2639    0
2126    1
3140    0
4582    0
856     0
Name: Prediction, Length: 4137, dtype: int64

In [74]:
X_test

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
767,5,2,3,0,2,4,28,1,2,9,...,0,0,0,0,0,0,0,0,1,0
2650,2,5,4,5,3,2,44,3,2,5,...,0,0,0,0,0,0,0,0,1,0
2568,6,3,1,0,2,3,18,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3325,2,2,1,2,1,1,33,2,0,1,...,0,0,0,0,1,0,0,0,1,0
5022,5,19,4,13,5,14,183,9,2,26,...,0,0,0,0,0,0,0,0,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,7,4,21,6,6,0,79,2,11,8,...,0,0,0,0,0,0,0,0,0,0
1360,0,0,1,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1910,1,2,1,0,0,2,6,1,0,1,...,0,0,0,0,0,0,0,0,2,0
1847,1,4,2,0,1,0,9,0,0,2,...,0,0,0,0,0,0,0,0,1,0
1292,3,2,2,1,0,3,16,2,0,10,...,0,0,0,0,0,0,0,0,0,0

In [75]:
Y_test

767     0
2650    0
2568    0
3325    0
5022    0
       ..
1901    0
1360    0
1910    1
1847    0
1292    1
Name: Prediction, Length: 1035, dtype: int64

In [76]:
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense, Dropout

In [77]:
input_dim = X_train.shape[1]
input_dim

3000

In [78]:
model = Sequential ([
    Dense(128, activation = 'relu', input_shape = (input_dim,)),
    Dropout(0.3),
    Dense(64, activation = 'relu', ),
    Dropout(0.3),
    Dense(1, activation = 'sigmoid')
])

C:\Users\londh\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [79]:
model

In [80]:
model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

In [81]:
model

In [82]:
history = model.fit(
    X_train, Y_train,
    epochs=15,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.7833 - loss: 0.7222 - val_accuracy: 0.9130 - val_loss: 0.2285
Epoch 2/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9093 - loss: 0.2729 - val_accuracy: 0.9457 - val_loss: 0.2617
Epoch 3/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9441 - loss: 0.1906 - val_accuracy: 0.9662 - val_loss: 0.1477
Epoch 4/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9619 - loss: 0.1413 - val_accuracy: 0.9771 - val_loss: 0.0957
Epoch 5/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9692 - loss: 0.1117 - val_accuracy: 0.9517 - val_loss: 0.1688
Epoch 6/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9665 - loss: 0.1340 - val_accuracy: 0.9758 - val_loss: 0.0721
Epoch 7/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9807 - loss: 0.0701 - val_accuracy: 0.9746 - val_loss: 0.0869
Epoch 8/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9737 - loss: 0.0893 - val_accuracy: 0.9771 - val_loss: 0.0672
Epoch 9/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9828 - loss: 0.0725 - val_accuracy: 0.9783 - val_loss: 0.0580
Epoch 10/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9779 - loss: 0.0863 - val_accuracy: 0.9734 - val_loss: 0.0739
Epoch 11/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9834 - loss: 0.0665 - val_accuracy: 0.9746 - val_loss: 0.0699
Epoch 12/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9918 - loss: 0.0339 - val_accuracy: 0.9795 - val_loss: 0.0537
Epoch 13/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9903 - loss: 0.0314 - val_accuracy: 0.9783 - val_loss: 0.0544
Epoch 14/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9970 - loss: 0.0145 - val_accuracy: 0.9807 - val_loss: 0.0510
Epoch 15/15
104/104 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9970 - loss: 0.0114 - val_accuracy: 0.9843 - val_loss: 0.0565

In [83]:
loss, acc = model.evaluate(X_test, Y_test)
print(f"Test Accuracy: {acc:.4f}")

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9816 - loss: 0.0830
Test Accuracy: 0.9816

In [84]:
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype("int32")

from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       735
           1       0.97      0.97      0.97       300

    accuracy                           0.98      1035
   macro avg       0.98      0.98      0.98      1035
weighted avg       0.98      0.98      0.98      1035

Test on real data

In [85]:
import numpy as np

# Create a dictionary for word -> index (only once!)
word_to_index = {word: i for i, word in enumerate(X.columns)}

def email_to_vector(email_text):
    vec = np.zeros(len(word_to_index))
    for word in email_text.lower().split():
        if word in word_to_index:
            vec[word_to_index[word]] += 1
    return vec

# Example test
email = "Congratulations! You won a free prize. Click here now"
vec = email_to_vector(email).reshape(1, -1)

prediction = model.predict(vec)[0][0]
print(f"Prediction Score: {prediction:.4f}")
print("Spam ✅" if prediction > 0.5 else "Ham 📩")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
Prediction Score: 0.9536
Spam ✅

In [86]:
def classify_email(email_text):
    vec = email_to_vector(email_text).reshape(1, -1)
    pred = model.predict(vec)[0][0]
    return "Spam ✅" if pred > 0.5 else "Ham 📩"

print(classify_email("Hi John, are we still on for the meeting?"))
print(classify_email("Get rich quick with this limited offer!!!"))
print(classify_email("Hi Aditya, I have attached the project report. Let me know your feedback."))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
Ham 📩
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
Spam ✅
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
Ham 📩

In [87]:
email = 'hi'
vec = email_to_vector(email).reshape(1, -1)
prediction = model.predict(vec)
print("Spam" if prediction > 0.5 else "Ham")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
Spam

In [88]:
email = """
Hello Aditya Londhe,
Thank you for registering for Infosys Preparation Session. You can find information about this meeting below.
Infosys Preparation Session
Date & Time	Sep 21, 2025 10:00 AM India
Meeting ID	865 0351 7815
Passcode	014074
Add to Calendar(.ics)  |   Add to Google Calendar  |   Add to Yahoo Calendar
To edit or cancel your registration details, click here.
Please submit any questions to: contact@talentbattle.in.
WAYS TO JOIN ZOOM
Join from PC, Mac, iPad, or Android
Hello Aditya Londhe,
Thank you for registering for Infosys Preparation Session. You can find information about this meeting below.
Infosys Preparation Session
Date & Time	Sep 21, 2025 10:00 AM India
Meeting ID	865 0351 7815
Passcode	014074
Add to Calendar(.ics)  |   Add to Google Calendar  |   Add to Yahoo Calendar
To edit or cancel your registration details, click here.
Please submit any questions to: contact@talentbattle.in.
WAYS TO JOIN ZOOM
Join from PC, Mac, iPad, or Android
Join Meeting
If the button above does not work, paste this into your browser:
https://us06web.zoom.us/w/86503517815?tk=mm_4PQZdx1fObtRWSad_JsMWUxA8b3A-oXdoNhPecK4.DQkAAAAUJALudxZZYzQ2Vkdra1JIdTAtQnpIUlBWb1BRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&pwd=gRywSNz23gH5a3zh2lnwbNjLq8tNuH.1
To keep this meeting secure, do not share this link publicly.
Join via audio
One tap mobile:	US: +19292056099,,86503517815#,,,,*014074# or +13017158592,,86503517815#,,,,*014074#
Or dial	For higher quality, dial a number based on your current location.
US: +1 929 205 6099 or +1 301 715 8592 or +1 305 224 1968 or +1 309 205 3325 or +1 312 626 6799 or +1 646 931 3860 or +1 253 205 0468 or +1 253 215 8782 or +1 346 248 7799 or +1 360 209 5623 or +1 386 347 5053 or +1 507 473 4847 or +1 564 217 2000 or +1 669 444 9171 or +1 669 900 6833 or +1 689 278 1000 or +1 719 359 4580
Meeting ID:	865 0351 7815
Passcode:	014074
International numbers
Thank you!"""

vec = email_to_vector(email).reshape(1, -1)
prediction = model.predict(vec)[0][0]
print("Spam" if prediction > 0.5 else "Ham")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
Ham

In [89]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

# Predictions already done
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype("int32")

# Classification report
report = classification_report(Y_test, y_pred, output_dict=True)
report_df = pd.DataFrame(report).transpose()
report_df.to_csv("metrics.csv", index=True)

# Confusion matrix
cm = confusion_matrix(Y_test, y_pred)
np.save("confusion_matrix.npy", cm)

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [90]:
model.save("spam_classifier_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [91]:
# Drop non-feature columns
features = df.drop(columns=["Email No.", "Prediction"]).columns

# Save feature names, this means column name
features.to_series().to_csv("features.csv", index=False)

In [92]:
df.column

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    0
5170    0
5171    0
Name: column, Length: 5172, dtype: int64

In [93]:
features = pd.read_csv("./dataset/emails.csv").drop(columns=["Email No.", "Prediction"]).columns

# Convert features to a DataFrame
features_df = pd.DataFrame(features, columns=["Feature_Name"])

# Save the feature names to a CSV file
features_df.to_csv("./dataset/features.csv", index=False)

print("Features saved to features.csv")

Features saved to features.csv

In [94]:
len(features)

3000